#site-title a {
	color: #2B3AEF;
}

a {
	color: #2B3AEF;
	text-decoration: none;
}

.hentry p a {
	text-decoration: underline;
}

a:hover {
	color: #2D506C;
	text-shadow: 0 1px 0 #fff;
	text-decoration: underline;
}

#menu a:hover {
	color: #2D506C;
	border-radius: 10px 0 10px 0;
	opacity: 0.75;
}

blockquote {
  border-left: 5px solid #2B3AEF;
}

figure:hover {
	border: 2px solid #2B3AEF;
}

a:hover img {
  box-shadow: 0 0 8px #2B3AEF;
}
/* Current nav, buttons, more-link */
#menu .current-menu-item > a,
.btn,
.more-link,
input[type=submit],
legend {
	background: #2B3AEF; /* Fallback */
	background: -moz-linear-gradient(top, #2B3AEF 0%, #2D506C 100%); /* FF 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2B3AEF), color-stop(100%,#2D506C)); /* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #2B3AEF 0%,#2D506C 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #2B3AEF 0%,#2D506C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2B3AEF 0%,#2D506C 100%); /* IE10+ */
	background: linear-gradient(top, #2B3AEF 0%,#2D506C 100%); /* W3C */
	
	color: #fff;
	border-color: transparent;
	border-radius: 10px 0 10px 0;
	font-weight: bold;
	padding: 14px 20px;
	text-shadow: 0 1px 0 #2B3AEF;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	transition: all 100ms linear;
}

.hentry .entry-title a:hover { 
	color: #2B3AEF;
}

.widget li a:hover {
		color: #2B3AEF;
		margin-left: 10px;
	}

input[type="submit"]:hover {
	text-shadow: 0 1px 0 #2B3AEF;
}

/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
	border:3px solid #2B3AEF;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
	background: none;
}
/*next/prev button hover state*/
.bx-prev:hover {
	border:3px solid #2B3AEF;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
}

.bx-next:hover {
	border:3px solid #2B3AEF;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
}

/* These selection declarations have to be separate */
::-moz-selection{ background: #2B3AEF; color: #fff; text-shadow: none; }
::selection { background: #2B3AEF; color: #fff; text-shadow: none; }

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	color: #333;
	-webkit-box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(109, 123, 215, 0.3);
	-moz-box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(109, 123, 215, 0.3);
	box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(109, 123, 215, 0.3);
}
