/* Google Buttons CSS. From: http://pixify.com/blog/use-google-plus-to-improve-your-ui/ */
a.button, a.more-link {
    color: #6e6e6e;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    margin-right: 10px;
}
a.button:hover, a.more-link:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active, a.more-link:active {
    color: #000;
    border-color: #444;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}
a.save {
    background: url(images/sprite.png) 10px 7px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.add {
    background: url(images/sprite.png)  10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.delete {
    background: url(images/sprite.png)  10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.flag {
    background: url(images/sprite.png)  10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.up {
    background: url(images/sprite.png)  13px -133px no-repeat #f3f3f3;
    width: 18px;
}
a.down {
    background: url(images/sprite.png)  13px -168px no-repeat #f3f3f3;
    width: 18px;
}
a.download {
    background: url(images/sprite.png)  10px -190px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.save-big {
    background: url(images/sprite.png) 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.add-big {
    background: url(images/sprite.png)  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.delete-big {
    background: url(images/sprite.png)  15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.flag-big {
    background: url(images/sprite.png)  15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.up-big {
    background: url(images/sprite.png)  15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.down-big {
    background: url(images/sprite.png)  15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.download-big {
    background: url(images/sprite.png)  10px -190px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}

/* Author Info */
#author-info {
	font-size: 12px;
	overflow: hidden;
	margin-top:25px;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em -35.6% 0 -35.4%;
	padding: 20px 35.4%;
}
.archive #author-info {
	border-bottom: 1px solid #ddd;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
#author-avatar {
	float: left;
	width:85px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	padding: 3px;
}
#author-description {
	float: left;
	margin-left: 10px;
	width: 490px;
}
#author-description h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 10px;
}

#toTop {
/* display: block before hiding */
    display: block;
    display: none;
  
    /* link is above all other elements */
    z-index: 999; 
  
    /* link doesn't hide text behind it */
    opacity: .6;
  
    /* link stays at same place on page */
    position: fixed;
  
    /* link goes at the bottom of the page */
    top: 100%;
    margin-top: -58px; /* = height + preferred bottom margin */
  
    /* link is centered */
    left: 50%;
    margin-left: -75px; /* = half of width */
  
    /* round the corners (to your preference) */
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  
    /* make it big and easy to see (size, style to preferences) */
    width: 150px;
    line-height: 38px;
    height: 38px;
    padding: 3px;
    background-color: #000;
    font-size: 16px;
    text-align: center;
}
 
a#toTop:hover {
    color: #fff;
    text-shadow: none;
}

/* =Comments
-------------------------------------------------------------- */

/* Comments link */
.hentry .comments-link a {
    background: url(../images/comment-bubble.png) no-repeat right top;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    line-height: 35px;
    margin-right: -38px;
    margin-top: -75px;
    float: right;
    text-align: center;
    text-decoration: none;
    width: 43px;
    height: 36px;
}
.hentry .comments-link a:hover,
.hentry .comments-link a:focus,
.hentry .comments-link a:active {
    text-decoration: underline;
}
#comments {
    clear: both;
}
.commentlist {
    list-style: none;
    margin: 0;
}
.commentlist li.comment {
    border-bottom: 1px solid #464646;
    margin: 0 0 24px 0;
    padding: 10px 0 10px 56px;
    position: relative;
}
/*
.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
*/
#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 18px;
}
#comments .comment-body p:last-child {
    margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}
.commentlist ol {
    list-style: decimal;
}
.commentlist .avatar {
    position: absolute;
    top: 7px;
    left: 5px;
}

.comment-meta {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 15px 10px;
}

.reply {
    font-size: 14px;
}

.comment-author {
}
.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.comment-author .says {
    font-style: italic;
}
.commentlist .even {
    background: #D8D8D8;
}
.commentlist .bypostauthor {
}
.commentlist .children {
    list-style: none;
    margin: 0;
}
#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}
#respond p {
    margin: 0;
}
#respond .comment-notes {
    margin-bottom: 1em;
}
.form-allowed-tags {
    line-height: 1em;
}
.children #respond {
    margin: 0 48px 0 0;
}
h3#reply-title {
    margin: 18px 0;
}
#comments-list #respond {
    margin: 0 0 18px 0;
}
#comments-list ul #respond {
    margin: 0;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
#respond .required {
    color: #ff4b33;
    font-weight: bold;
}
#respond label {
    color: #333;
    font-size: 13px;
}
#respond input {
    margin: 0 0 20px;
    width: 95%;
}
#respond textarea {
    width: 95%;
}
#respond .form-allowed-tags {
    color: #333;
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
}
#respond .form-allowed-tags code {
    font-size: 11px;
}
#respond .form-submit {
    margin: 12px 0;
}
#respond .form-submit input {
    font-size: 14px;
    width: auto;
}
#comments-title {
    margin-top: 50px;
}