a {
	color: #F48339;
	text-decoration: none;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	transition: all 100ms linear;
}

a:hover {
	color: #F47724;
	text-shadow: 0 1px 0 #fff;
}

#menu a:hover {
	color: #F47724;
	border-radius: 10px 0 10px 0;
	opacity: 0.75;
}

figure:hover {
	border: 2px solid #F48339;
}

/* Current nav, buttons, more-link */
#menu .current-menu-item > a,
.btn,
.more-link,
input[type=submit],
legend {
	background: #F48339; /* Fallback */
	background: -moz-linear-gradient(top, #F48339 0%, #F47724 100%); /* FF 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F48339), color-stop(100%,#F47724)); /* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(top, #F48339 0%,#F47724 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #F48339 0%,#F47724 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F48339 0%,#F47724 100%); /* IE10+ */
	background: linear-gradient(top, #F48339 0%,#F47724 100%); /* W3C */
	
	color: #fff;
	border-color: transparent;
	border-radius: 10px 0 10px 0;
	font-weight: bold;
	padding: 14px 20px;
	text-shadow: 0 1px 0 #F48339;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	transition: all 100ms linear;
}

.hentry .entry-title a:hover { 
	color: #F48339;
}

.widget li a:hover {
		color: #F48339;
		margin-left: 10px;
	}

input[type="submit"]:hover {
	text-shadow: 0 1px 0 #F48339;
}

/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
	border:3px solid #F48339;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
	background: none;
}
/*next/prev button hover state*/
.bx-prev:hover {
	border:3px solid #F48339;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
}

.bx-next:hover {
	border:3px solid #F48339;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	border-radius:300px;
}

/* These selection declarations have to be separate */
::-moz-selection{ background: #F48339; color: #fff; text-shadow: none; }
::selection { background: #F48339; color: #fff; text-shadow: none; }

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	color: #333;
	-webkit-box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(244, 131, 57, 0.3);
	-moz-box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(244, 131, 57, 0.3);
	box-shadow: 0px 1px 1px #ccc, inset 1px 2px 1px rgba(244, 131, 57, 0.3);
}