#turn_wrapper {
	width: 80px;
	height: 80px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#turn_hideme {
	width: 85%;
	height: 85%;
	overflow: hidden;
	display: block;
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	z-index: 1;
}

#turn_object{
	position: relative;
}

#turn_wrapper.right #turn_hideme *,
#turn_wrapper.right #turn_object {
	float: right !important;
}

#turn_wrapper.right #turn_hideme {
	float: right !important;
	right: 0 !important;
	left: auto;
}
#turn_wrapper.right #turn_object {
	right: 0 !important;
	left: auto !important;
}

#turn_wrapper.right {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
	right: 0 !important;
}

#turn_wrapper.right #turn_object * {
	position: absolute;
	right: 0 !important;
}

#turn_wrapper #turn_object img#turn_fold {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1000;
	right: 0;
	position: absolute;
}

/* the jQuery CSS Framework */
#turn_wrapper .ui-resizable { position: relative;}
#turn_wrapper .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; background-image: url(#none)}
#turn_wrapper .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 0; bottom: 0; }
#turn_wrapper .ui-resizable-sw { cursor: sw-resize; width: 12px; height: 12px; left: 0; bottom: 0; }
